<a href="https://colab.research.google.com/github/sbj6364/python-study/blob/main/pandas-basic/03_data_structure3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 3번 : pandas data structure(3)


#### 안내
이번 문제에서 생성한 DataFrame은 pandas 기본 콘텐츠 내에서 계속해서 활용될 예정입니다. 앞으로는 이 DataFrame을 지칭할 때는 df_A 라고 하겠습니다.  


2번 문제에서 생성한 DataFrame의 index로 2020년 1월 1일 부터 2020년 1월 5일까지의 날짜를 지정하는 코드를 작성해보세요.

In [3]:
import pandas as pd
import numpy as np

dt_index = pd.date_range('2020-01-01', periods=5)

ar = np.random.randn(5,4)
df = pd.DataFrame(data = ar, columns=['A','B','C','D'], index = dt_index)
df

                   A         B         C         D
2020-01-01  1.176241 -1.793799 -0.283778  1.420192
2020-01-02 -0.340114  0.555427  0.938596 -1.019755
2020-01-03  1.020995 -0.187063  0.614134 -0.417590
2020-01-04  1.480290 -1.184348  1.199418  0.531173
2020-01-05 -0.558697 -1.131352 -0.158508  1.067478