<a href="https://colab.research.google.com/github/sbj6364/python-study/blob/main/pandas-basic/05_dataframe_method.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 5번 : DataFrame method(2)

#### 안내
df_B를 이용해서, 위에서부터 5개의 행을 출력하는 코드를 작성해보세요.

#### Output
~~~python
	A	B	C	D
0	A0	B0	C0	D0
1	A1	B1	C1	D1
2	A2	B2	C2	D2
3	A3	B3	C3	D3
4	A4	B4	C4	D4
~~~

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame(columns=list('ABCD'))
for i in range(12):
  df.loc[i] = ['A'+str(i), 'B'+str(i), 'C'+str(i),'D'+str(i)]
df.head()

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4