<a href="https://colab.research.google.com/github/sbj6364/python-study/blob/main/pandas-basic/07_dataframe_method4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 7번 : DataFrame method(4)

#### 안내
df_B를 이용해서, DataFrame의 요약 정보를 출력하는 코드를 작성해보세요.

#### Output
~~~
<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype 
---  ------  --------------  ----- 
 0   A       12 non-null     object
 1   B       12 non-null     object
 2   C       12 non-null     object
 3   D       12 non-null     object
dtypes: object(4)
memory usage: 480.0+ bytes
~~~

In [10]:
import pandas as pd
import numpy as np

df = pd.DataFrame(columns=list('ABCD'))
for i in range(12):
  df.loc[i] = ['A'+str(i), 'B'+str(i), 'C'+str(i),'D'+str(i)]

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 0 to 11
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       12 non-null     object
 1   B       12 non-null     object
 2   C       12 non-null     object
 3   D       12 non-null     object
dtypes: object(4)
memory usage: 480.0+ bytes