<a href="https://colab.research.google.com/github/sbj6364/python-study/blob/main/pandas-basic/08_dataframe_method5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 8번 : DataFrame method(5)

#### 안내
df_A를 이용해서, 해당 DataFrame의 전체적인 통계량(통계정보)을 보여주는 코드를 작성해보세요.

In [1]:
import pandas as pd
import numpy as np

from datetime import datetime
dt_index = pd.date_range('2020-01-01', periods=5)

ar = np.random.randn(5,4)
df_A = pd.DataFrame(data = ar, columns=['A','B','C','D'], index = dt_index)
df_A.describe()

              A         B         C         D
count  5.000000  5.000000  5.000000  5.000000
mean  -0.421105  1.075652 -0.121006 -0.431249
std    1.574468  1.176717  1.146150  1.381797
min   -2.983254 -0.112616 -1.346221 -2.732624
25%   -0.691609 -0.000457 -1.232644 -0.501087
50%   -0.098922  1.254814 -0.018386 -0.034525
75%    0.726935  1.500807  0.920877  0.217209
max    0.941326  2.735713  1.071342  0.894781