<a href="https://colab.research.google.com/github/sbj6364/python-study/blob/main/pandas-basic/09_sorting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 9번 : sorting

df_A를 이용해서, column C 기준으로 내림차순 정렬한 결과를 출력하는 코드를 작성해보세요.

In [12]:
import pandas as pd
import numpy as np

from datetime import datetime
dt_index = pd.date_range('2020-01-01', periods=5)

ar = np.random.randn(5,4)
df_A = pd.DataFrame(data = ar, columns=['A','B','C','D'], index = dt_index)
df_A.sort_values(by=['C'], ascending=False)

                   A         B         C         D
2020-01-04 -1.860541 -1.512164  0.520773  0.528640
2020-01-05 -0.233633  0.518929  0.203513  0.635474
2020-01-03  0.810556  0.079880  0.101574  0.900748
2020-01-02 -0.703367  1.449825 -0.451756 -0.482077
2020-01-01  0.833520  0.316508 -0.527102  0.103519