<a href="https://colab.research.google.com/github/sbj6364/python-study/blob/main/pandas-basic/11_indexing2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 11번 : indexing(2)

df_A를 이용해서,

1. 3번째 행의 원소들,
2. index가 2020-01-05에 해당하는 행

을 출력하는 코드를 작성해보세요.

In [9]:
import pandas as pd
import numpy as np

from datetime import datetime
dt_index = pd.date_range('2020-01-01', periods=5)

ar = np.random.randn(5,4)
df_A = pd.DataFrame(data = ar, columns=['A','B','C','D'], index = dt_index)

df_A.iloc[[2]]

                   A         B         C         D
2020-01-03  0.316424  0.174812  1.554203  0.241266

In [6]:
df_A.loc[['2020-01-05']]

                   A         B         C         D
2020-01-05  0.881266  1.483804  0.041231  0.199772