<a href="https://colab.research.google.com/github/sbj6364/python-study/blob/main/pandas-basic/12_indexing3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 12번 : indexing(3)

df_A를 이용해서, 2020년 1월 2일부터 2020년 1월 4일까지의 데이터중에 column A, B에 해당하는 데이터를 출력하는 코드를 작성해보세요.

In [8]:
import pandas as pd
import numpy as np

from datetime import datetime
dt_index = pd.date_range('2020-01-01', periods=5)

ar = np.random.randn(5,4)
df_A = pd.DataFrame(data = ar, columns=['A','B','C','D'], index = dt_index)

df_A.iloc[1:4,:2]

                   A         B
2020-01-02 -1.100674  0.133438
2020-01-03  0.715472 -0.224498
2020-01-04  0.293981  0.204805