<a href="https://colab.research.google.com/github/sbj6364/python-study/blob/main/pandas-basic/13_indexing4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 13번 : indexing(4)

df_A에서 0보다 큰 데이터를 모두 출력하는 코드를 작성하세요.

(해당 데이터가 조건에 해당되지 않아 빈 칸일때 NaN으로 출력됩니다. NaN은 Not a Number 라는 의미입니다.)

In [14]:
import pandas as pd
import numpy as np

from datetime import datetime
dt_index = pd.date_range('2020-01-01', periods=5)

ar = np.random.randn(5,4)
df_A = pd.DataFrame(data = ar, columns=['A','B','C','D'], index = dt_index)

df_A[df_A > 0]

                   A        B         C         D
2020-01-01       NaN      NaN  1.049205       NaN
2020-01-02       NaN      NaN       NaN       NaN
2020-01-03       NaN      NaN  0.831979  0.867714
2020-01-04       NaN      NaN       NaN       NaN
2020-01-05  0.266445  1.45791       NaN  0.429157