<a href="https://colab.research.google.com/github/sbj6364/python-study/blob/main/pandas-basic/14_concat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 14번 : concat

데이터에서 주어진 형태가 같은 2개의 DataFrame 을 이용해서,

Output처럼 위-아래로 합쳐진 DataFrame을 생성하는 코드를 작성해보세요.

#### data
~~~
	A	B	C
0	1	3	5
1	2	4	6
~~~
~~~
	A	B	C
0	-1	-3	-5
1	-2	-4	-6
~~~

In [23]:
import pandas as pd
import numpy as np

ar1 = [[1,3,5],[2,4,6]]
ar2 = [[-1,-3,-5],[-2,-4,-6]]
df1 = pd.DataFrame(ar1, columns=['A','B','C'])
df2 = pd.DataFrame(ar2, columns=['A','B','C'])
# df1.append(df2, ignore_index=True)

pd.concat([df1, df2], axis=0, ignore_index=True)

   A  B  C
0  1  3  5
1  2  4  6
2 -1 -3 -5
3 -2 -4 -6