<a href="https://colab.research.google.com/github/sbj6364/python-study/blob/main/pandas-basic/19_missing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 19번 : missing values

#### 안내
이번 문제에서 만들어지는 데이터는 4문제(19번~22번) 연속으로 사용될 것이기 때문에, DataFrame 원본을 훼손하지 않고 새로운 DataFrame 에 담아 작업해주세요. 앞으로는 이 DataFrame을 지칭할 때는 `df_C` 라고 하겠습니다.
16번에서 불러온 데이터를 다음과 같이 수정하는 코드를 작성해보세요.

#### 문제
다음 파일의 데이터를 읽어와서, `NaN`(Not a Number)로 처리되어 있는 행을 모두 제거하는 코드를 작성하세요.

#### 데이터
[여기](https://future-test-bucket.s3.ap-northeast-2.amazonaws.com/operation/DA001/n19/toy.xlsx)를 눌러서 데이터를 다운받아주세요.
이 데이터는 결측치가 존재하는 표 형식의 데이터 입니다.

#### output 참고
[FutureSkill 19](https://futureskill.io/content/903ab63c-2b24-4be0-ba1c-a3ba34dce258/question/485fc3c8-778b-4ae1-a247-12dbe64a302c)

In [3]:
import pandas as pd
import numpy as np

df = pd.read_excel('toy.xlsx')
df1 = df.dropna()
df1

     A    B    C
0  1.0 -1.0  2.0
2  3.0 -3.0  4.0
3  4.0 -4.0  7.0