<a href="https://colab.research.google.com/github/sbj6364/python-study/blob/main/pandas-basic/1_pd_datastructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1번 : pandas data structure

주어진 Python list L 을 Pandas series 로 변환하는 코드를 작성해보세요.
  
#### 베이스라인
~~~python
import pandas as pd

L = [1, 2, 3, 4, 5]

'''
code here
'''
~~~
#### Output
~~~
0    1
1    2
2    3
3    4
4    5
dtype: int64
~~~

In [2]:
import pandas as pd

L = [1, 2, 3, 4, 5]
L = pd.Series(L)
L

0    1
1    2
2    3
3    4
4    5
dtype: int64