<a href="https://colab.research.google.com/github/sbj6364/python-study/blob/main/pandas-basic/20_missing_values2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 20번 : missing values  (2)

df_C에서 NaN값을 해당 열에 바로 앞 행에 등장한 값으로 치환하는 방법으로 처리하는 코드를 작성해보세요.

#### output 참고
[FutureSkill 20](https://futureskill.io/content/903ab63c-2b24-4be0-ba1c-a3ba34dce258/question/be1a9ab9-1f86-4b6d-a11a-ffbcbe2926a8)

In [ ]:
import pandas as pd
import numpy as np

df_C = pd.read_excel('toy.xlsx')
df_C

     A    B     C
0  1.0 -1.0   2.0
1  2.0  NaN   3.0
2  3.0 -3.0   4.0
3  4.0 -4.0   7.0
4  5.0  NaN   NaN
5  NaN -6.0  10.0

In [ ]:
df = df_C.fillna(method='ffill')
df

     A    B     C
0  1.0 -1.0   2.0
1  2.0 -1.0   3.0
2  3.0 -3.0   4.0
3  4.0 -4.0   7.0
4  5.0 -4.0   7.0
5  5.0 -6.0  10.0