<a href="https://colab.research.google.com/github/sbj6364/python-study/blob/main/pandas-basic/21_missing_values3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 21번 : missing values  (3)

df_C에 등장하는 NaN값을 해당 열의 평균 값으로 대체하는 방법으로 처리하는 코드를 작성해보세요.

#### output 참고
[FutureSkill 21](https://futureskill.io/content/903ab63c-2b24-4be0-ba1c-a3ba34dce258/question/c26f55f9-edf5-4926-8f47-6212ddf76f2d)

In [2]:
import pandas as pd
import numpy as np

df_C = pd.read_excel('toy.xlsx')
df_C

     A    B     C
0  1.0 -1.0   2.0
1  2.0  NaN   3.0
2  3.0 -3.0   4.0
3  4.0 -4.0   7.0
4  5.0  NaN   NaN
5  NaN -6.0  10.0

In [3]:
df_C.mean()

A    3.0
B   -3.5
C    5.2
dtype: float64

In [4]:
df = df_C.fillna(df_C.mean())
df

     A    B     C
0  1.0 -1.0   2.0
1  2.0 -3.5   3.0
2  3.0 -3.0   4.0
3  4.0 -4.0   7.0
4  5.0 -3.5   5.2
5  3.0 -6.0  10.0