<a href="https://colab.research.google.com/github/sbj6364/python-study/blob/main/pandas-basic/23_aggregating.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 23번 : aggregating

다음 주어진 데이터와 같은 DataFrame을 만드세요.

각 row(행)의 평균을 저장하고 있는 column(열)을 만들고, column의 이름을 "평균"으로 지정하는 코드를 작성하세요.

#### 데이터
~~~
     A	 B	C
0	1	-1	2
1	2	-2	3
2	3	-3	4
3	4	-4	7
4	5	-5	8
~~~
#### output 참고
[FutureSkill 23](https://futureskill.io/content/903ab63c-2b24-4be0-ba1c-a3ba34dce258/question/4227670f-bb18-48a7-9fd4-2efc9971063b)

In [32]:
import pandas as pd
import numpy as np

ar = [[1,-1,2],
      [2,-2,3],
      [3,-3,4],
      [4,-4,7],
      [5,-5,8]]
df = pd.DataFrame(ar, columns=['A','B','C'])
df

   A  B  C
0  1 -1  2
1  2 -2  3
2  3 -3  4
3  4 -4  7
4  5 -5  8

In [34]:
df['평균'] = df.agg('mean', axis=1)
df

   A  B  C        평균
0  1 -1  2  0.666667
1  2 -2  3  1.000000
2  3 -3  4  1.333333
3  4 -4  7  2.333333
4  5 -5  8  2.666667

In [31]:
# m = df.agg('mean', axis=1)

# df.insert(3,'평균',m)
# df

   A  B  C        평균
0  1 -1  2  0.666667
1  2 -2  3  1.000000
2  3 -3  4  1.333333
3  4 -4  7  2.333333
4  5 -5  8  2.666667