<a href="https://colab.research.google.com/github/sbj6364/python-study/blob/main/pandas-basic/24_aggregating2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 24번 : aggregating (2)

직전 문제에서의 DataFrame을 그대로 활용하여, 각 열마다의 합계를 맨 마지막 행(5행)으로 추가하는 코드를 작성해보세요.


#### 데이터
~~~
     A	 B	C       평균
0	1	-1	2	0.666667
1	2	-2	3	1.000000
2	3	-3	4	1.333333
3	4	-4	7	2.333333
4	5	-5	8	2.666667
~~~
#### output 참고
[FutureSkill 24](https://futureskill.io/content/903ab63c-2b24-4be0-ba1c-a3ba34dce258/question/b2fc3a9a-3b6b-412c-af25-05ab9bed5883)

In [46]:
import pandas as pd
import numpy as np

ar = [[1,-1,2],
      [2,-2,3],
      [3,-3,4],
      [4,-4,7],
      [5,-5,8]]
df = pd.DataFrame(ar, columns=['A','B','C'])
df

   A  B  C
0  1 -1  2
1  2 -2  3
2  3 -3  4
3  4 -4  7
4  5 -5  8

In [47]:
df['평균'] = df.agg('mean', axis=1)
df

   A  B  C        평균
0  1 -1  2  0.666667
1  2 -2  3  1.000000
2  3 -3  4  1.333333
3  4 -4  7  2.333333
4  5 -5  8  2.666667

In [48]:
df.append(df.sum(), ignore_index=True)

      A     B     C        평균
0   1.0  -1.0   2.0  0.666667
1   2.0  -2.0   3.0  1.000000
2   3.0  -3.0   4.0  1.333333
3   4.0  -4.0   7.0  2.333333
4   5.0  -5.0   8.0  2.666667
5  15.0 -15.0  24.0  8.000000