<a href="https://colab.research.google.com/github/sbj6364/python-study/blob/main/pandas-basic/2_data_structure2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2번 : pandas data structure(2)

열의 이름은 A, B, C, D이고 각 열마다 5개의 random한(임의의) 숫자를 원소로 하는 DataFrame을 생성하는 코드를 작성해보세요.

In [28]:
import pandas as pd
import numpy as np

ar = np.random.randn(5,4)
df = pd.DataFrame(data = ar, columns=['A','B','C','D'])
df

          A         B         C         D
0 -0.284655  0.433938 -0.740394 -0.648488
1  1.693257  0.237932 -0.281334  0.893276
2 -0.294935 -0.738531  0.208650 -0.582702
3  0.144320  2.727167  1.042853  0.927423
4 -0.322084  0.192058  1.125231 -0.250049